<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sinchimport>
            <general>
                <meta_title>1</meta_title>
                <index_tonerfinder>1</index_tonerfinder>
                <wait_for_index_completion>1</wait_for_index_completion>
                <multisource_stock>0</multisource_stock>
                <permit_zero_price>0</permit_zero_price>
                <success_email_dest></success_email_dest>
            </general>
            <sinch_ftp>
                <replace_category>REWRITE</replace_category>
                <replace_product>REWRITE</replace_product>
                <backup_data>0</backup_data>
            </sinch_ftp>
            <sinch_import_fullstatus>
                <indexing_separately>0</indexing_separately>
            </sinch_import_fullstatus>
            <seo>
                <product_name_template>{name}-{sku}</product_name_template>
            </seo>
            <attributes>
                <visible_in_admin>0</visible_in_admin>
                <override_elasticsuite>0</override_elasticsuite>
            </attributes>
            <category_visibility>
                <enable>0</enable>
                <disable_import>0</disable_import>
            </category_visibility>
            <product_visibility>
                <enable>0</enable>
                <disable_import>0</disable_import>
            </product_visibility>
            <group_pricing>
                <private_product_markup_pct>0</private_product_markup_pct>
            </group_pricing>
            <stock>
                <clear_reservations>1</clear_reservations>
                <in_stock_filter_enable>1</in_stock_filter_enable>
                <manual_source_assignment>0</manual_source_assignment>
            </stock>
            <misc>
                <quotes_fix_verify_name>1</quotes_fix_verify_name>
            </misc>
        </sinchimport>
    </default>
</config>
