<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Indexer\Category\Flat\Action\Full" type="SITC\Sinchimport\Model\Catalog\Indexer\Category\Flat\Action\Full" />
    <preference for="Magento\UrlRewrite\Model\Storage\DbStorage" type="SITC\Sinchimport\Model\Storage\DbStorage" />
    <preference for="Magento\Catalog\Model\View\Asset\Image" type="SITC\Sinchimport\Model\View\Asset\Image" />
    <!-- Setup the import API -->
    <preference for="SITC\Sinchimport\Api\ImportInterface" type="SITC\Sinchimport\Model\Api\ImportService" />
    <preference for="SITC\Sinchimport\Api\Data\ImportStatusInterface" type="SITC\Sinchimport\Model\Api\Data\ImportStatus" />
    <!-- End API setup -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import" xsi:type="object">SITC\Sinchimport\Console\Command\ImportCommand</item>
                <item name="generateUrl" xsi:type="object">SITC\Sinchimport\Console\Command\GenerateCommand</item>
                <item name="productPartsfinder" xsi:type="object">SITC\Sinchimport\Console\Command\TonerFinderCommand</item>
                <item name="postImportDebug" xsi:type="object">SITC\Sinchimport\Console\Command\DebugPostImportCommand</item>
                <item name="deltaPricingReset" xsi:type="object">SITC\Sinchimport\Console\Command\DeltaPricingResetCommand</item>
                <item name="cronCleanup" xsi:type="object">SITC\Sinchimport\Console\Command\CronCleanupCommand</item>
                <item name="attributesReset" xsi:type="object">SITC\Sinchimport\Console\Command\AttributesResetCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="SITC\Sinchimport\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SITC\Sinchimport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SinchImportGeneric</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SITC\Sinchimport\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="mb_change_product_gallery" type="SITC\Sinchimport\Block\Product\View\Gallery" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Attribute\Frontend\Image">
        <plugin name="mb_change_product_attribute_frontend_image" type="SITC\Sinchimport\Plugin\Catalog\Product\Attribute\Frontend\Image" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="mb_change_category_image_url" type="SITC\Sinchimport\Plugin\Catalog\Model\Category" sortOrder="0"/>
        <plugin name="sinchimport_category_visibility" type="SITC\Sinchimport\Plugin\CategoryVisibility" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\Category\Image">
        <plugin name="sinchimport_category_image_url" type="SITC\Sinchimport\Plugin\Catalog\Model\Category\Image" sortOrder="0" />
    </type>
    <type name="Magento\Catalog\Model\Product\Image">
        <plugin name="mb_change_product_image_url" type="SITC\Sinchimport\Plugin\Catalog\Model\Product\Image" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Helper\Image">
        <plugin name="mb_change_catalog_helper_image" type="SITC\Sinchimport\Plugin\Catalog\Helper\Image" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Helper\Product\Flat\Indexer">
        <plugin name="change_reindex_product_flat_mode" type="SITC\Sinchimport\Plugin\Catalog\Helper\Product\Flat\Indexer" sortOrder="0" />
    </type>
    <type name="Magento\Catalog\Model\Indexer\Product\Flat\FlatTableBuilder">
        <plugin name="add_data_reindex_product_flat_mode" type="SITC\Sinchimport\Plugin\Catalog\Model\Indexer\Product\Flat\FlatTableBuilder" sortOrder="0" />
    </type>
    <!-- This section makes sure the indexers don't run during imports -->
    <type name="Magento\Cron\Model\Schedule">
        <plugin name="sinchimport_lock_indexers" type="SITC\Sinchimport\Plugin\CronSchedule" sortOrder="0" />
    </type>
    <preference for="Magento\Indexer\Console\Command\IndexerReindexCommand" type="SITC\Sinchimport\Console\Command\IndexerReindexCommand" />
    <!-- End section -->
    <!-- The following plugin is for ElasticSuite 2.8.x and above -->
    <type name="Smile\ElasticsuiteCatalog\Search\Request\Product\Aggregation\Provider\FilterableAttributes\Modifier\Coverage">
        <plugin name="sinchimport_override_elasticsuite_filters_28" type="SITC\Sinchimport\Plugin\Elasticsuite\Coverage28" sortOrder="0" />
    </type>

    <!-- The following is to allow additional Elasticsearch query types in ElasticSuite -->
    <!-- Virtual types for Elasticsuite custom query types -->
    <virtualType name="sitcAccountGroupQueryFactory" type="SITC\Sinchimport\Search\Request\Query\AccountGroupFilterFactory" />
    <virtualType name="sitcCategoryBoostQueryFactory" type="SITC\Sinchimport\Search\Request\Query\CategoryBoostFilterFactory" />
    <virtualType name="sitcPriceRangeQueryFactory" type="SITC\Sinchimport\Search\Request\Query\PriceRangeQueryFactory" />
    <virtualType name="sitcAttributeValueQueryFactory" type="SITC\Sinchimport\Search\Request\Query\AttributeValueFilterFactory" />
    <type name="Smile\ElasticsuiteCore\Search\Request\Query\QueryFactory">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="sitcAccountGroupQuery" xsi:type="object">sitcAccountGroupQueryFactory</item>
                <item name="sitcCategoryBoostQuery" xsi:type="object">sitcCategoryBoostQueryFactory</item>
                <item name="sitcPriceRangeQuery" xsi:type="object">sitcPriceRangeQueryFactory</item>
                <item name="sitcAttributeValueQuery" xsi:type="object">sitcAttributeValueQueryFactory</item>
            </argument>
        </arguments>
    </type>

    <type name="Smile\ElasticsuiteCore\Search\Adapter\Elasticsuite\Request\Query\Builder">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="sitcAccountGroupQuery" xsi:type="object">SITC\Sinchimport\Search\Adapter\Elasticsuite\Request\Query\Builder\AccountGroupFilter\Proxy</item>
                <item name="sitcCategoryBoostQuery" xsi:type="object">SITC\Sinchimport\Search\Adapter\Elasticsuite\Request\Query\Builder\CategoryBoostFilter\Proxy</item>
                <item name="sitcPriceRangeQuery" xsi:type="object">SITC\Sinchimport\Search\Adapter\Elasticsuite\Request\Query\Builder\PriceRangeQuery\Proxy</item>
                <item name="sitcAttributeValueQuery" xsi:type="object">SITC\Sinchimport\Search\Adapter\Elasticsuite\Request\Query\Builder\AttributeValueFilter\Proxy</item>
            </argument>
        </arguments>
    </type>
    <!-- End extended query types -->

    <!-- In Stock Filter -->
    <type name="Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\InventoryData">
        <plugin name="sitc_in_stock_filter" type="SITC\Sinchimport\Plugin\Elasticsuite\InventoryData" />
    </type>
    <!-- End Stock Filter -->

    <!-- Override for the sinch_restrict attribute on composite/grouped/bundle products (to merge their attribute values together) -->
    <preference for="Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\AttributeData" type="SITC\Sinchimport\Plugin\Elasticsuite\AttributeData" />

    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="image_badge_overlay" type="SITC\Sinchimport\Helper\Badges" sortOrder="0" />
    </type>

    <!-- Proxies config for classes, so we don't have the "Incompatible types" error in the IDE -->
    <type name="SITC\Sinchimport\Helper\SearchProcessing">
        <arguments>
            <argument name="queryFactory" xsi:type="object">Smile\ElasticsuiteCore\Search\Request\Query\QueryFactory\Proxy</argument>
            <argument name="thesaurus" xsi:type="object">Smile\ElasticsuiteThesaurus\Model\Index\Proxy</argument>
            <argument name="resourceConn" xsi:type="object">Magento\Framework\App\ResourceConnection\Proxy</argument>
            <argument name="requestBuilder" xsi:type="object">Smile\ElasticsuiteCore\Search\Request\Builder\Proxy</argument>
            <argument name="searchEngine" xsi:type="object">Magento\Search\Model\SearchEngine\Proxy</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
</config>
