<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Magento\Catalog\Model\Indexer\Category\Flat\Action\Full" type="SITC\Sinchimport\Model\Catalog\Indexer\Category\Flat\Action\Full" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import" xsi:type="object">SITC\Sinchimport\Console\Command\ImportCommand</item>
                <item name="generateUrl" xsi:type="object">SITC\Sinchimport\Console\Command\GenerateCommand</item>
                <item name="productPartsfinder" xsi:type="object">SITC\Sinchimport\Console\Command\TonerFinderCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="SITC\Sinchimport\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SITC\Sinchimport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sinchImportLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SITC\Sinchimport\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="mb_change_product_gallery" type="SITC\Sinchimport\Block\Product\View\Gallery" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Attribute\Frontend\Image">
        <plugin name="mb_change_product_attribute_frontend_image" type="SITC\Sinchimport\Plugin\Catalog\Product\Attribute\Frontend\Image" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="mb_change_category_image_url" type="SITC\Sinchimport\Plugin\Catalog\Model\Category" sortOrder="0"/>
        <plugin name="sinchimport_category_visibility" type="SITC\Sinchimport\Plugin\CategoryVisibility" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\Product\Image">
        <plugin name="mb_change_product_image_url" type="SITC\Sinchimport\Plugin\Catalog\Model\Product\Image" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Helper\Image">
        <plugin name="mb_change_catalog_helper_image" type="SITC\Sinchimport\Plugin\Catalog\Helper\Image" sortOrder="0"/>
    </type>
    <type name="Magento\Catalog\Helper\Product\Flat\Indexer">
        <plugin name="change_reindex_product_flat_mode" type="SITC\Sinchimport\Plugin\Catalog\Helper\Product\Flat\Indexer" sortOrder="0" />
    </type>
    <type name="Magento\Catalog\Model\Indexer\Product\Flat\FlatTableBuilder">
        <plugin name="add_data_reindex_product_flat_mode" type="SITC\Sinchimport\Plugin\Catalog\Model\Indexer\Product\Flat\FlatTableBuilder" sortOrder="0" />
    </type>
    <type name="Magento\Cron\Model\Schedule">
        <plugin name="sinchimport_lock_indexers" type="SITC\Sinchimport\Plugin\CronSchedule" sortOrder="0" />
    </type>
    <type name="Magento\Framework\View\Layout">
        <plugin name="sinchimport_save_account_id" type="SITC\Sinchimport\Plugin\DontDepersonaliseAccount" sortOrder="0" />
    </type>
</config>
