<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer\FilterList">
        <plugin name="filterSinchAttributes" type="SITC\Sinchimport\Plugin\FilterList" />
    </type>
    <type name="Magento\Catalog\Model\Layer">
        <plugin name="sitc_customcatalog_nonESIntercept" type="SITC\Sinchimport\Plugin\Layer" sortOrder="0"/>
    </type>
    <type name="Smile\ElasticsuiteCore\Api\Search\Request\ContainerConfigurationInterface">
        <plugin name="sitc_customcatalog_ESConfiguration" type="SITC\Sinchimport\Plugin\Elasticsuite\ContainerConfiguration" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="sitc_customcatalog_product" type="SITC\Sinchimport\Plugin\Product" />
    </type>
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="sitc_customcatalog_vary_context_accgrp" type="SITC\Sinchimport\Plugin\VaryContext" sortOrder="11"/>
    </type>

    <!-- Start search stuff -->
    <type name="Smile\ElasticsuiteCore\Api\Index\MappingInterface">
        <plugin name="sitc_search_mapping" type="SITC\Sinchimport\Plugin\Elasticsuite\Mapping" />
    </type>
    <type name="Smile\ElasticsuiteCore\Search\Request\Query\Fulltext\QueryBuilder">
        <!-- Specify sort order to ensure that optimizers run as expected -->
        <plugin name="sitc_query_builder" type="SITC\Sinchimport\Plugin\Elasticsuite\QueryBuilder" sortOrder="0"/>
    </type>
    <type name="Smile\ElasticsuiteCore\Model\Autocomplete\Terms\DataProvider">
        <!-- Specify sort order to ensure that optimizers run as expected -->
        <plugin name="sitc_data_provider" type="SITC\Sinchimport\Plugin\Elasticsuite\Autocomplete\TermsDataProvider" sortOrder="0"/>
    </type>
    <!-- Override Elasticsuite's Product attribute autocomplete DataProvider to change suggestion ordering -->
    <type name="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\Attribute\DataProvider">
        <plugin name="sitc_attribute_autocomplete_reorder" type="SITC\Sinchimport\Plugin\Elasticsuite\Autocomplete\ProductAttributeDataProvider" sortOrder="0"/>
    </type>
    <!-- Interceptor on the category page load query -->
    <type name="Smile\ElasticsuiteCatalog\Model\Category\Filter\Provider">
        <plugin name="sitc_category_provider" type="SITC\Sinchimport\Plugin\Elasticsuite\Provider" sortOrder="0"/>
    </type>
    <!-- End search stuff-->
</config>