<?xml version="1.0"?>
<!--
/**
 * @author Magebuzz Team
 * @copyright Copyright (c) 2015 Magebuzz (https://www.magebuzz.com)
 * @package Magebuzz_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magebuzz_Core" setup_version="1.0.0" />
</config>