<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="clean_cache_by_tags">
        <observer name="sitc_sinch_import_clean_cache_after_reindex" instance="SITC\Sinchimport\Observer\Indexer\Model\Processor\ProductCategory" />
    </event>
</config>
