<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SITC_Sinchimport::sinchimport" title="Stock In The Channel" module="SITC_Sinchimport"
             sortOrder="50" resource="SITC_Sinchimport::sinchimport"/>

        <add id="SITC_Sinchimport::product_import_title" sortOrder="3" title="Products Import" translate="title" module="SITC_Sinchimport" resource="Magento_Backend::content" parent="SITC_Sinchimport::sinchimport"/>

        <add id="SITC_Sinchimport::importdata" title="Configuration" module="SITC_Sinchimport" sortOrder="4"
             parent="SITC_Sinchimport::product_import_title" action="adminhtml/system_config/edit/section/sinchimport"
             resource="SITC_Sinchimport::importdata"/>
    </menu>
</config>