<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sitc" translate="label" sortOrder="9000">
            <label>SITC Extensions</label>
        </tab>
        <section id="sinchimport" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sinch Import</label>
            <tab>sitc</tab>
            <resource>SITC_Sinchimport::system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="additional_suffix" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Addition Suffix for Product Url Rewrite</label>
                    <source_model>SITC\Sinchimport\Model\Config\Source\AdditionalSuffix</source_model>
                </field>
                <field id="meta_title" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use the product name as the meta title for the product detail</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If your product data already has Meta Title leave it as (No)</comment>
                </field>
                <field id="index_tonerfinder" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Index tonerfinder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wait_for_index_completion" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wait for index completion</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, the import will wait for any running indexers to complete before starting the import process. With this setting off, the import will fail/cancel if any indexers are running when it starts</comment>
                </field>
                <field id="clear_attribute_code" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clear all attribute filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Remove and create a new attribute filter</comment>
                </field>
            </group>
            <group id="sinch_ftp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>FTP Login Details</label>
                <comment>Get these details from Stock in the Channel for the pricelist you want this store to use. This
                    is not your Stock in the Channel username and password.
                </comment>
                <field id="ftp_server" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>FTP Server</label>
                    <source_model>SITC\Sinchimport\Model\Config\Source\Serverlist</source_model>
                </field>
                <field id="username" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>FTP User Name</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>FTP Password</label>
                </field>
                <field id="replace_category" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Merge or Overwrite Categories</label>
                    <source_model>SITC\Sinchimport\Model\Config\Source\Caterewrite</source_model>
                </field>
                <field id="replace_product" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Merge or Overwrite Products</label>
                    <source_model>SITC\Sinchimport\Model\Config\Source\Prodrewrite</source_model>
                </field>
                <field id="backup_data" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Backup Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Backup current Ids of products and categories to re-use when importing in overwrite mode.
                    </comment>
                </field>
            </group>
            <group id="sinch_import_fullstatus" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Import Full Catalogue</label>
                <comment>An import of 100000 products will take approximately 1 hour.Larger catalogues will take
                    substantially longer. (It may take up to a minute before the import starts)
                </comment>
                <field id="indexing_separately" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Run the Indexing Separately</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Run the re-indexing as a separate task.</comment>
                </field>
                <field id="indexing_data" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Indexingbutton</frontend_model>
                    <depends>
                        <field id="indexing_separately">1</field>
                    </depends>
                </field>
                <field id="start_sinch_import" translate="label" type="button" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Importbutton</frontend_model>
                </field>
            </group>
            <group id="sinch_import_stockpricestatus" translate="label" type="text" sortOrder="30" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Import Stock &amp; Prices</label>
                <comment>This will import stock and prices ONLY. This process should not take longer 5 minutes. (It may take up to a minute before the import starts)
                </comment>
                <field id="start_sinch_import" translate="label" type="button" sortOrder="0" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Stockpriceimportbutton</frontend_model>
                </field>
            </group>
            <group id="sinch_import_history" translate="label" type="text" sortOrder="40" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Import History</label>
                <field id="start_sinch_import" translate="label" type="button" sortOrder="0" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Importhistory</frontend_model>
                </field>
            </group>
            <group id="attributes" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Attributes</label>
                <field id="visible_in_admin" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Visible in Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this if you want to check/edit attribute values within the Admin panel. It is applied on import</comment>
                </field>
                <field id="override_elasticsuite" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Override Elasticsuite</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, overrides Elasticsuite's "Facet Min Coverage" functionality for Stockinthechannel Filterable Attributes, reverting them to default behaviour</comment>
                </field>
            </group>
            <group id="category_visibility" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Visibility Functionality</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Requires disabling the "Blocks HTML output" cache (block_html) for the menu to update correctly</comment>
                </field>
                <field id="disable_import" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable import section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If you have no intention of using the Category visibility functionality in the near future, enable this option to skip this section of the import</comment>
                </field>
            </group>
            <group id="product_visibility" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Visibility Functionality</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Requires disabling the "Page Cache" cache (full_page). Recommended to be using Smile ElasticSuite for full functionality</comment>
                </field>
                <field id="disable_import" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable import section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If you have no intention of using the Product visibility functionality in the near future, enable this option to skip this section of the import</comment>
                </field>
            </group>
        </section>
    </system>
</config>