<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sitc" translate="label" sortOrder="9000">
            <label>Stock in the Channel</label>
        </tab>
        <section id="sinchimport" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Products Import</label>
            <tab>sitc</tab>
            <resource>SITC_Sinchimport::system_config</resource>

            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="meta_title" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use the product name as the meta title for the product detail</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If your product data already has Meta Title leave it as (No)</comment>
                </field>
                <field id="index_tonerfinder" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Index tonerfinder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wait_for_index_completion" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wait for index completion</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, the import will wait for any running indexers to complete before starting the import process. With this setting off, the import will fail/cancel if any indexers are running when it starts. (Waits a maximum of 30 minutes for indexers to complete)</comment>
                </field>
                <field id="multisource_stock" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Multi-source Stock</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, the import will process stock with one source per distributor, otherwise all stock will be provided by the default source. Enabling this has no effect unless the MSI modules are active</comment>
                </field>
                <field id="permit_zero_price" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Permit Zero Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable if you wish to allow products with a price of 0. When disabled, zero prices are treated as feed errors and silently dropped. Only affects prices processed by the import module as part of Group Pricing</comment>
                </field>
                <field id="success_email_dest" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import Success notification email destination</label>
                    <comment>If blank or not a valid email, does not send success emails</comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="sinch_ftp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>FTP Login Details</label>
                <comment>Get these details from Stock in the Channel for the pricelist you want this store to use. This
                    is not your Stock in the Channel username and password.
                </comment>
                <field id="ftp_server" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>FTP Server</label>
                    <source_model>SITC\Sinchimport\Model\Config\Source\Serverlist</source_model>
                </field>
                <field id="username" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>FTP User Name</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>FTP Password</label>
                </field>
                <field id="replace_category" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merge or Overwrite Categories</label>
                    <source_model>SITC\Sinchimport\Model\Config\Source\Caterewrite</source_model>
                </field>
                <field id="replace_product" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merge or Overwrite Products</label>
                    <source_model>SITC\Sinchimport\Model\Config\Source\Prodrewrite</source_model>
                </field>
                <field id="backup_data" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Backup Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Backup current Ids of products and categories to re-use when importing in overwrite mode.
                    </comment>
                </field>
            </group>

            <group id="sinch_import_fullstatus" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Import Full Catalogue</label>
                <comment>An import of 100000 products will take approximately 1 hour.Larger catalogues will take
                    substantially longer. (It may take up to a minute before the import starts)
                </comment>
                <field id="indexing_separately" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run the Indexing Separately</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Run the re-indexing as a separate task.</comment>
                </field>
                <field id="indexing_data" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Indexingbutton</frontend_model>
                    <depends>
                        <field id="indexing_separately">1</field>
                    </depends>
                </field>
                <field id="start_sinch_import" translate="label" type="button" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Importbutton</frontend_model>
                </field>
            </group>

            <group id="sinch_import_stockpricestatus" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Import Stock &amp; Prices</label>
                <comment>This will import stock and prices ONLY. This process should not take longer 5 minutes. (It may take up to a minute before the import starts)
                </comment>
                <field id="start_sinch_import" translate="label" type="button" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Stockpriceimportbutton</frontend_model>
                </field>
            </group>
            <group id="sinch_import_history" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Import Status and History</label>
                <field id="start_sinch_import" translate="label" type="button" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\Importhistory</frontend_model>
                </field>
                <field id="import_status_block" translate="label" type="button" sortOrder="10" showInWebsite="1" showInDefault="1" showInStore="1">
                    <frontend_model>SITC\Sinchimport\Block\System\Config\ImportStatus</frontend_model>
                </field>
            </group>

            <group id="seo" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SEO</label>
                <field id="product_name_template" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product URL Template</label>
                    <comment><![CDATA[Provides the template that URL rewrite generation uses for products. The following markers are replaced during generation:<br>
                    {name} - Replaced with product Name<br>
                    {sku} - Replaced with product SKU<br>
                    {id} - Replaced with product ID<br>
                    {ean} - Replaced with product EAN<br>
                    {unspsc} - Replaced with product UNSPSC<br>
                    {brand} - Replaced with the product Manufacturer name<br>
                    ]]></comment>
                </field>
            </group>

            <group id="attributes" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Attributes</label>
                <field id="visible_in_admin" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Visible in Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this if you want to check/edit attribute values within the Admin panel. It is applied on import</comment>
                </field>
                <field id="override_elasticsuite" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Override Elasticsuite</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, overrides Elasticsuite's "Facet Min Coverage" functionality for Stockinthechannel Filterable Attributes, reverting them to default behaviour</comment>
                </field>
                <field id="summary_features" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Summary Features Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, injects Stockinthechannel Summary Features into Magento product list pages. Please note this does not affect blocks in grid mode</comment>
                </field>
                <field id="bullet_points" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Bullet Points Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, injects Stockinthechannel Bullet Points into Magento product list pages. Please note this does not affect blocks in grid mode</comment>
                </field>
            </group>
            <group id="cron" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" >
                <label>Cron Schedule</label>
                <field id="full" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Full Import</label>
                </field>
                <field id="stockprice" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Stock Price Import</label>
                </field>
                <comment><![CDATA[Enter cron expression<br/>
                        <br/>
                        * * * * *<br/>
                        | | | | |<br/>
                        | | | | +---- Day of the Week   (range: 0-6, 1 standing for Monday)<br/>
                        | | | +------ Month of the Year (range: 1-12)<br/>
                        | | +-------- Day of the Month  (range: 1-31)<br/>
                        | +---------- Hour              (range: 0-23)<br/>
                        +------------ Minute            (range: 0-59)<br/>
                        Example: */5 * * * * - every five minutes<br/>
                        <br/>
                        Read more about cron expressions - <a href="https://en.wikipedia.org/wiki/Cron">here</a>]]>
                </comment>
            </group>

            <group id="category_visibility" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Visibility Functionality</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Requires disabling the "Blocks HTML output" cache (block_html) for the menu to update correctly</comment>
                </field>
                <field id="disable_import" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable import section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If you have no intention of using the Category visibility functionality in the near future, enable this option to skip this section of the import</comment>
                </field>
            </group>

            <group id="product_visibility" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Visibility Functionality</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Requires disabling the "Page Cache" cache (full_page). Recommended to be using Smile ElasticSuite for full functionality</comment>
                </field>
                <field id="disable_import" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable import section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If you have no intention of using the Product visibility functionality in the near future, enable this option to skip this section of the import</comment>
                </field>
            </group>

            <group id="stock" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Stock handling</label>
                <field id="clear_reservations" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Clear reservations on imported products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <!-- The inventory_reservations table doesn't exist and isn't used unless MSI is enabled, so no point showing non-MSI users the option -->
                        <field id="sinchimport/general/multisource_stock">1</field>
                    </depends>
                    <comment>If enabled, clear inventory reservations for affected products when importing new stock levels, and calculate stock status based on stock + backorder limit.
                        When disabled, the saleable quantity (stock + backorder limit - reservations) is used to determine stock status</comment>
                </field>
                <field id="in_stock_filter_enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable in stock filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="stock_filter" translate="label" type="text" sortOrder="3" showInStore="0" showInWebsite="0" showInDefault="1">
                    <label>In Stock Filter</label>
                    <field id="in_stock_value" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>"In Stock" Value</label>
                    </field>
                    <field id="out_of_stock_value" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>"Out of Stock" Value</label>
                    </field>
                    <depends>
                        <field id="sinchimport/stock/in_stock_filter_enable">1</field>
                    </depends>
                </group>
                <field id="manual_source_assignment" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Manual Source Assignment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, the import will not assign sources (distributors) to the Sinch stock</comment>
                </field>
            </group>

            <group id="misc" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Miscellaneous</label>
                <field id="quotes_fix_verify_name" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Verify name match when fixing quote items</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When disabled, SKU is assumed to be GLOBALLY UNIQUE (i.e. a product with a given SKU always represents the same product, even if the names differ)<br>
                    When enabled (the default), checks that the item name and the replacement candidate name identically match before updating quote item records (the replacement candidate is still matched based on SKU)]]></comment>
                </field>
                <field id="any_value_implementation" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>ANY_VALUE Implementation</label>
                    <comment><![CDATA[The implementation of ANY_VALUE to use when selecting records not specified in the GROUP BY condition (primarily Product Supplier).<br>
                    The default is acceptable on all databases except MariaDB, which fails to implement ANY_VALUE]]></comment>
                </field>
            </group>

            <group id="search" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search</label>
                <field id="category_field_search_weight" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category search weight</label>
                    <comment><![CDATA[The search weight for the category name field]]></comment>
                </field>
                <field id="brand_field_search_weight" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand name search weight</label>
                    <comment><![CDATA[The search weight for the brand name field]]></comment>
                </field>
                <field id="enable_enhanced" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Enhanced Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled, attempt to refine searches to improve their relevance and specificity]]></comment>
                </field>
                <group id="enhanced_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enhanced Settings</label>
                    <field id="enable_price" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable automatic price filtering</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[When enabled, strip terms like "between 100 and 200", "below 500", "above 666" from searches and turn them into price filters]]></comment>
                    </field>
                    <field id="enable_category" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable automatic category filtering</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[When enabled, strip terms like "in Computers", "in Notebooks", etc from searches and turn them into category filters]]></comment>
                    </field>
                    <field id="enable_attribute" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable automatic attribute filtering</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[When enabled, strip terms matching manufacturer, sinch_family, or sinch_family_series attribute values from searches and turn them into attribute filters]]></comment>
                    </field>
                    <field id="enable_category_dynamic" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable automatic dynamic category filtering</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Provides the same functionality as the above category filtering option, but doesn't require "in" to be present in the search terms. This runs separately after the above filters, and thus can be controlled independently]]></comment>
                    </field>
                    <field id="enable_redirects" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable automatic redirects from search results to more appropriate category pages</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Whether to enable redirects during enhanced search processing. Without this enabled, filters are simply added to the constructed query to further limit it]]></comment>
                    </field>
                    <depends>
                        <field id="sinchimport/search/enable_enhanced">1</field>
                    </depends>
                </group>
            </group>

            <group id="popularity_boost" translate="label" type="text" sortOrder="90" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Popularity Boost</label>
                <comment><![CDATA[Boost the position of products in collections based on additional Stockinthechannel provided attributes]]></comment>
                <!-- Main toggles -->
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="advanced_settings_visible" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Advanced Settings</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Only enable if you know what you're doing and are happy with fixing things yourself]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                    </depends>
                </field>
                <field id="really_show_advanced" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Really Show Advanced Settings</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[By enabling this you agree that you won't whine to Stockinthechannel if you break things. That's twice you've been warned now. On your head be it]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                    </depends>
                </field>
                <field id="show_really_advanced" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Really Advanced Settings</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Looks like the above setting, but this one controls whether you can change even deeper logic. You should probably avoid this unless you're Nick or Joe]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                    </depends>
                </field>
                <!-- End Main toggles -->
                <!-- Advanced "Global" Boost settings -->
                <field id="scoring_mode" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Scoring Mode</label>
                    <comment><![CDATA[]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <field id="boost_mode" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Boost Mode</label>
                    <comment><![CDATA[]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <!-- End Advanced "Global" Boost settings -->
                <!-- Score -->
                <field id="score_factor" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Score Boost Factor</label>
                    <comment><![CDATA[Factor used for the "sinch_score" attribute]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                    </depends>
                </field>
                <field id="score_modifier" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Score Boost Modifier</label>
                    <comment><![CDATA[Modifier used for the "sinch_score" attribute. Must be one of: none, log, log1p, log2p, ln, ln1p, ln2p, square, sqrt, reciprocal]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <field id="score_weight" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Score Boost Weight</label>
                    <comment><![CDATA[Weight used for the "sinch_score" attribute relative to the other boosts]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <!-- End Score -->
                <!-- Monthly Sales -->
                <field id="monthly_sales_factor" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Monthly Popularity Boost Factor</label>
                    <comment><![CDATA[Factor to use for the "sinch_popularity_month" attribute (Monthly Stockinthechannel Implied Sales)]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                    </depends>
                </field>
                <field id="monthly_sales_modifier" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Monthly Popularity Boost Modifier</label>
                    <comment><![CDATA[Modifier used for the "sinch_popularity_month" attribute. Must be one of: none, log, log1p, log2p, ln, ln1p, ln2p, square, sqrt, reciprocal]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <field id="monthly_sales_weight" translate="label" type="text" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Monthly Popularity Boost Weight</label>
                    <comment><![CDATA[Weight used for the "sinch_popularity_month" attribute relative to the other boosts]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <!-- End Monthly Sales -->
                <!-- Yearly Sales -->
                <field id="yearly_sales_factor" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Yearly Popularity Boost Factor</label>
                    <comment><![CDATA[Factor to use for the "sinch_popularity_year" attribute (Yearly Stockinthechannel Implied Sales)]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                    </depends>
                </field>
                <field id="yearly_sales_modifier" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Yearly Popularity Boost Modifier</label>
                    <comment><![CDATA[Modifier used for the "sinch_popularity_year" attribute. Must be one of: none, log, log1p, log2p, ln, ln1p, ln2p, square, sqrt, reciprocal]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <field id="yearly_sales_weight" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Yearly Popularity Boost Weight</label>
                    <comment><![CDATA[Weight used for the "sinch_popularity_year" attribute relative to the other boosts]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <!-- End Yearly Sales -->
                <!-- Searches -->
                <field id="searches_factor" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Search Data Boost Factor</label>
                    <comment><![CDATA[Factor to use for the "sinch_searches" attribute (Stockinthechannel search data)]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                    </depends>
                </field>
                <field id="searches_modifier" translate="label" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Search Data Boost Modifier</label>
                    <comment><![CDATA[Modifier used for the "sinch_searches" attribute. Must be one of: none, log, log1p, log2p, ln, ln1p, ln2p, square, sqrt, reciprocal]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <field id="searches_weight" translate="label" type="text" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Search Data Boost Weight</label>
                    <comment><![CDATA[Weight used for the "sinch_searches" attribute relative to the other boosts]]></comment>
                    <depends>
                        <field id="sinchimport/popularity_boost/enable">1</field>
                        <field id="sinchimport/popularity_boost/advanced_settings_visible">1</field>
                        <field id="sinchimport/popularity_boost/really_show_advanced">1</field>
                        <field id="sinchimport/popularity_boost/show_really_advanced">1</field>
                    </depends>
                </field>
                <!-- End Searches -->
            </group>

            <group id="badges" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Badges</label>
                <comment><![CDATA[Badges for notable products on the first page of collections. Works best in combination with Popularity Boost, but not required]]></comment>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_bestseller" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Bestseller</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="bestseller" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Bestseller Badge Content</label>
                    <comment><![CDATA[Content used for bestseller product badge, typically SVG]]></comment>
                    <depends>
                        <field id="sinchimport/badges/enable">1</field>
                        <field id="sinchimport/badges/enable_bestseller">1</field>
                    </depends>
                </field>
                <field id="enable_hot_product" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hot Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hot_product" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hot Product Badge Content</label>
                    <comment><![CDATA[Content used for hot product badge, typically SVG]]></comment>
                    <depends>
                        <field id="sinchimport/badges/enable">1</field>
                        <field id="sinchimport/badges/enable_hot_product">1</field>
                    </depends>
                </field>
                <field id="enable_new" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable New Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="new" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Product Badge Content</label>
                    <comment><![CDATA[Content used for new product badge, typically SVG]]></comment>
                    <depends>
                        <field id="sinchimport/badges/enable">1</field>
                        <field id="sinchimport/badges/enable_new">1</field>
                    </depends>
                </field>
                <field id="enable_popular" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Popular Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="popular" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Popular Product Badge Content</label>
                    <comment><![CDATA[Content used for popular product badge, typically SVG]]></comment>
                    <depends>
                        <field id="sinchimport/badges/enable">1</field>
                        <field id="sinchimport/badges/enable_popular">1</field>
                    </depends>
                </field>
                <field id="enable_recommended" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Recommended Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recommended" translate="label" type="text" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Recommended Product Badge Content</label>
                    <comment><![CDATA[Content used for recommended product badge, typically SVG]]></comment>
                    <depends>
                        <field id="sinchimport/badges/enable">1</field>
                        <field id="sinchimport/badges/enable_recommended">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
