.sitc-bullet-points {
    clear: both;
}
.sitc-bullet-points ul {
    list-style-type: disc;
    padding-left: 15px;
}
.product-bullet-points-container {
    margin-top: 20px;
}
.product.attribute.description b {
    display: block;
    margin-top: 10px;
}
.product.attribute.description b:nth-child(1) {
    margin: 0;
}
.sitc-videos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sitc-manuals ul {
    margin: 0;
    padding: 0;
}
.sitc-manuals iframe {
    border: none;
    width: 100%;
    min-height: 400px;
}
.badge-custom{
    width: auto;
    display: inline;
    position: absolute;
    left: 0;
    color: #fff;
    background: #3a3a3a;
    padding: 7px 15px;
    z-index: 2;
    top: 0;
    border-radius: 5px;
}
a.product-item-photo {
    position: relative;
}

.badge-custom svg {
    width: 15px;
}
.badge-custom svg, .badge-custom span {
    display: inline-block;
    vertical-align: middle;
}
.badge-custom span {
    margin-left: 6px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
}
/*.HotProduct {
    width: auto;
    background: #fd0000;
}
.HotProduct svg {
    fill: #f2f545;
}
.HotProduct svg, .HotProduct span {
    color: #ffffff;
}
.Recommended svg {
    fill: #fff;
}
.Recommended {
    background: #5c76da;
}
.Popular {
    background: #199aa7;
}
.Popular svg {
    fill: #aff9ff;
}
.New svg {
    fill: #ffe400;
}
.New {
    background: #f6ae15;
}
.Bestseller span {
    color: #000;
}
.Bestseller {
    background: #dddd;
}*/
.specification-table-content tr {
    border-bottom: 1px solid #eeeeee;
}
.specification-table-content tr td:nth-child(2) {
    text-align: right;
    padding-right: 30px;
}
.specification-table-content th {
    font-size: 18px;
    margin-top: 15px;
    padding-top: 35px;
    font-weight: 700;
}
.specification-table-content th, .specification-table-content td {
    padding: 10px 0px;
    width: 50%;
    padding-right: 15px;
    max-height: 200px;
    overflow: auto;
}
.specification-table-content tr td {
    width: 50%;
    padding-right: 15px;
}
.specification-table-content .table-left tr:nth-child(1) th {
    padding-top: 0px;
}
.specification-table-content tr td:nth-child(1) {
    font-weight: 500;
}
.specification-table-content tr td:nth-child(1)::after {
    content: ':';
}
.icon-attribute {
    height: 15px;
    margin-right: 6px;
    position: relative;
    top: 2px;
}

/*Video Gallery*/
.videoicon {
    width: 88px;
    height: 90px;
    background: #000;
    display: inline-block;
    margin: 1px;
}
.videoicon svg {
    fill: #fff;
    width: 30px;
    margin: auto;
}
.videoicon a {
    height: 100%;
    display: flex;
    width: 100%;
}

/*Category Page*/
.sitc-summary-features {
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sitc-summary-features strong {
    display: block;
}

/*Reasons To Buy*/
.sitc-reasons-to-buy .reason-to-buy {
    margin-bottom: 40px;
}
.sitc-reasons-to-buy .reason-to-buy .reason-to-buy-image img {
    border-radius: 3px;
}
.sitc-reasons-to-buy .reason-to-buy:nth-child(even) .reason-to-buy-image {
    float: left;
    margin-right: 20px;
}
.sitc-reasons-to-buy .reason-to-buy:nth-child(odd) .reason-to-buy-image {
    float: right;
    margin-left: 20px;
}